<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>PUROO&#x666E;&#x5F95;</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>&#x9700;&#x8981;&#x4F7F;&#x7528;&#x76F8;&#x673A;&#x901A;&#x8FC7;&#x671B;&#x8FDC;&#x955C;&#x62CD;&#x6444;&#x7167;&#x7247;&#x548C;&#x89C6;&#x9891;&#x3002;</string>
	<key>NSMotionUsageDescription</key>
	<string>&#x9700;&#x8981;&#x4F7F;&#x7528;&#x8FD0;&#x52A8;&#x4F20;&#x611F;&#x5668;&#x68C0;&#x6D4B;&#x671B;&#x8FDC;&#x955C;&#x62CD;&#x6444;&#x65F6;&#x7684;&#x6296;&#x52A8;&#x5E76;&#x8F85;&#x52A9;&#x9632;&#x6296;&#x3002;</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>&#x9700;&#x8981;&#x5C06;&#x62CD;&#x6444;&#x7684;&#x7167;&#x7247;&#x548C;&#x89C6;&#x9891;&#x4FDD;&#x5B58;&#x5230;&#x76F8;&#x518C;&#x3002;</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
